fastapi==0.115.0
uvicorn[standard]==0.30.6

# Use PyTorch CPU wheels
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu

easyocr==1.7.2
opencv-python-headless==4.10.0.84
numpy==1.26.4
python-multipart==0.0.18

